/* This file is for your main application css. */

@import "./phoenix.css";
@import "~bootstrap/dist/css/bootstrap.css";

header {
  background: #fff;
  margin: auto;
}

body {
  font-size: 1.5rem;
}

li.nav-item {
  border-right: 1px solid #d6d6d6;
  margin: 0.5rem auto;
  padding: 0 0.5rem;
}
li.nav-item:last-of-type {
  border-right: none;
}
.nav-user li.nav-item .username {
  font-weight: bold;
}

/* LOGIN STYLE */
.form-login {
  background-color: #681777;
  width: 60rem;
  padding: 10rem 5rem;
  border-radius: 3rem;
  box-shadow: 0 0 25px 0 #00000033, 0 5px 5px 0 #0000003d;
  margin: 10rem auto auto auto;
  color: white
}
.form-login input {
  color: white;
}

.user-bar {
  background-color: #681777;
  height: 7rem;
  width: 100%;
  padding: 0rem 2.5rem;
  border-radius: 0.5rem;
  color: white;
}

.form-login {
  background-color: #681777;
  width: 60rem;
  padding: 10rem 5rem;
  border-radius: 3rem;
  box-shadow: 0 0 25px 0 #00000033, 0 5px 5px 0 #0000003d;
  margin: 10rem auto auto auto;
  color: white
}

.btn,
input {
  font-size: inherit;
}

.login-message {
  color: white;
}

.center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.left {
  width: 45%;
  float: left;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 5.5rem;
}

.right {
  width: 50%;
  float: right;
  text-align: right;
}

.logo-home {
  height: 20px;;
}
.logo-home img {
  margin-top: 1.7rem;
  width: 2%;
}

a {
  cursor: pointer;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  .logo-garrahan-header {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}

.form-field-container label {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.action-bar-buttons {
  margin-top: 3rem;
}
.action-bar-buttons button {
  margin-right: 2rem;
}

#surgeries-list table th,
#surgeries-list table td {
  white-space: nowrap;
}

.subtitle {
  padding-top: 1rem;
  border-bottom: 1px solid #eaeaea;
  margin: 1rem auto;
  font-size: 2rem;
}
.elem-details {
  margin: 2rem auto;
}

.big-error-message {
  color: #000000;
  background-color: #ffcbcb;
  border: 2px solid #b3240b;
  padding: 2rem;
  margin: 4rem auto;
  border-radius: 2rem;
}
