/* This file is for your main application css. */

@import "./phoenix.css";

header {
  background: #fff;
}

.user-bar {
  background-color: #681777;
  height: 7rem;
  width: 100%;
  padding: 0rem 2.5rem;
  border-radius: 0.5rem;
  color: white;
}

.form-login {
  background-color: #681777;
  width: 60rem;
  padding: 10rem 5rem;
  border-radius: 3rem;
  box-shadow: 0 0 25px 0 #00000033, 0 5px 5px 0 #0000003d;
  margin: 10rem auto auto auto;
  color: white
}

.login-message {
  color: white;
}

.center {
  text-align: center;
}

.left {
  width: 45%;
  float: left;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 5.5rem;
}

.right {
  width: 50%;
  float: right;
  text-align: right;
}

.logo-home {
  height: 20px;;
}
.logo-home img {
  margin-top: 1.7rem;
  width: 2%;
}

a {
  cursor: pointer;
}

input {
  margin-bottom: 3rem;
  color: black;
  background-color: #cccccc;
}
input:hover {
  border-color: #64526e;
}
input:disabled {
  color: #797979;
  background-color: #cccccc;
}

button {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  background-color: white;
  color: #483752;
  border-color: #483752;
}

button:hover {
  background-color: #d3cdd6;
  color: #483752;
  border-color: #483752;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  .logo-garrahan-header {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}

#surgeries-list table th,
#surgeries-list table td {
  white-space: nowrap;
}

.subtitle {
  padding-top: 1rem;
  border-bottom: 1px solid #eaeaea;
  margin: 1rem auto;
}
.elem-details {
  margin: 2rem auto;
}

.big-error-message {
  color: #000000;
  background-color: #ffcbcb;
  border: 2px solid #b3240b;
  padding: 2rem;
  margin: 4rem auto;
  border-radius: 2rem;
}
